.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

*.apk
*.ap_
*.dex
*.class
bin/
gen/
.classpath
.project
proguard/
*.iml
*.ipr
*.iws
.idea/tasks.xml
.idea/dictionaries
.idea/modules.xml

/*/build/
/gradle.properties
/.idea/vcs.xml
/.idea/modules.xml
/gradle/wrapper
